.exp-outline {
  /* don't outline the last clicked search result */
  border: none !important;
}

.exp-outline + div > div:nth-child(3) {
  /* don't display list of suggestions */
  display: none !important;
}

div[id="search"] > div > div > div > div > div[class="xpdopen"] {
  /* Removes "People also ask" and "featured snippets" elements */
  display: none !important;
}